.myList {
  list-style-type: none;
  font-size: 1.2em;
}

.myList li {
  margin-bottom: 25px;
}

a:link {
  text-decoration: none;
  color: white;
  text-decoration: none; 
  border: 4px double lightgray;
  padding: 5px;
  background-color: red;
}

a:visited {
  text-decoration: none;
  color: white;
  text-decoration: none; 
  border: 4px double lightgray;
  background-color: red;;
}

a:hover {
  color: red;
  font-weight: bold;
  background-color: lightgray;
  border-color: red;
}

.background {
  background-color:black;
}

.title {
  font-size: 3em;
  color: lightgray;
}

.para {
  font-size: 1.3em;
  color: lightgray;
  text-transform: uppercase;
}

.text {
  font-size: 1.3em;
  color: lightgray;
}